# Byte-compiled / optimized / DLL files:
__pycache__/
*.py[cod]
*$py.class

# Project data directory:
data/executions
data/collections
data/datasets
data/cache
data/temp

# NodeJs modules:
node_modules/

# Hidden files:
.*
