# Project files:
.idea/

# Byte-compiled / optimized / DLL files:
__pycache__/
*.py[cod]
*$py.class

# Project data directory:
data/executions
data/collections
data/datasets
data/temp

# NodeJs modules:
node_modules/
